* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.movie-container {
  display: flex;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
