* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.content-wrapper {
  display: flex;
  padding-top: 5vh;

  width: 100%;
  min-height: calc(100vh - 5vh);
  overflow-x: hidden;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 17vw;
  height: 100%;
  min-height: calc(100vh - 5vh);
  color: white;
  background: darkgrey;
  position: fixed;
}

.main-content {
  margin-left: 17vw;
  width: calc(100vw - 17vw);
}

/* --- Styles des Liens de la Sidebar (APP.CSS) --- */

/* Conteneur principal du lien */
.sidebar-link {
  /* Propriétés de Flexbox pour l'alignement horizontal */
  display: flex;
  align-items: center; /* Aligner verticalement l'icône et le texte */
  text-decoration: none;
  color: white;
  height: 35px;
  transition: background-color 0.2s;
  width: 100%;
  padding: 0 1vw;
}

/* Style de l'icône */
.sidebar-link img {
  width: 1.5vw;
  padding: 0; /* Important : annuler les paddings spécifiques si l'icône est un enfant direct du lien */
  margin-right: 10px; /* Espace entre l'icône et le texte */
}

/* Style du texte */
.sidebar-txt {
  font-size: 1em;
  font-weight: 500;
  white-space: nowrap; /* Empêche le texte de passer à la ligne s'il est trop long */
  overflow: hidden; /* Cache le texte s'il ne rentre pas */
}

.header_container {
  top: 0;
  left: 0;
  width: 100%;
  height: 5vh; /* Hauteur de 3% de la hauteur de la fenêtre */
  z-index: 1000;
  /* Ajoutez une couleur de fond pour qu'il soit opaque */
  background-color: #222;
  color: white;
  justify-content: space-between;
  align-items: center;
}

header {
  display: flex; /* La balise <header> elle-même gère le Flexbox */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  z-index: 1000;
  background-color: #222;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.header_container img {
  display: flex;
  padding-left: 1vw;
  width: 7vw;
  height: 4vh;
  cursor: pointer;
}

