* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  padding-top: 3vh;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, min(12vw));
  justify-content: space-around;
  height: 100%;
  min-height: 100vh;
}

.movie-card {
  height: 18vw;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
}

.play-button {
  display: none;
}

.play-button img {
  width: 3vw;
}

.movie-card:hover + .play-button {
  display: block;
}
