* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

.progressed-movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, min(12vw));
  justify-content: space-evenly;
  height: 100%;
  min-height: 20vmin;
}

.progressed-movie-card-background {
  display: flex;
  height: 7vw;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
}

.progressed-movie-card:hover .play-button {
  opacity: 1;
}

.progressed-movie-card:hover .card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.5) 80%,
    rgba(0, 0, 0, 0.3) 100%
  );
}

.empty-progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.3rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.progress-bar {
  height: 100%;
  background-color: red;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, min(12vw));
  max-width: 99vw;
  justify-content: space-around;
  height: 100%;
  row-gap: 1vw;
}

.movie-card-background {
  display: flex;
  height: 18vw;
  border-radius: 10px;
  position: relative;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.4) 100%
  );
}

.play-button {
  position: absolute;
  opacity: 0;
  z-index: 2;
}

.play-button img {
  width: 2.5vw;
  height: auto;
}

.movie-card:hover .play-button {
  opacity: 1;
}

.movie-card:hover .card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.5) 80%,
    rgba(0, 0, 0, 0.3) 100%
  );
}

.card-content {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0.5rem 0;
}

.info-block {
  display: flex;
  margin: 0.2rem 0;
}

.movie-title {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movie-details-bar {
  display: flex;
  gap: 8px;
}

.info-block {
  font-size: 0.75rem;
  padding: 4px 6px;
  background: #1f1f1f;
  border-radius: 4px;
  color: white;
  font-weight: 400;
}

.main-genre {
  font-weight: 600;
}

.type-indicator {
  text-transform: uppercase;
  margin-left: auto;
  background: #333;
  color: rgba(204, 204, 204, 0.5);
}
