@if (authService.isLoggedIn() && progressedMovies.length > 0) {
  <div class="slider-wrapper">
    <h3 class="title"> Reprenez votre lecture : </h3>

    @if (canScrollLeft) {
      <button class="nav-btn prev" (click)="scroll(-1)">‹</button>
    }

    <section #slider id="progressed-movies-grid" class="progressed-movies-grid" (scroll)="checkButtons()">
      @for (item of progressedMovies; track item.movieId) {
        <div class="progressed-movie-card">
          <div class="progressed-movie-card-background" [style.background-image]="'url(' + item.movieId.cover + ')'" (click)="onClickGoMovie(item.movieId.slug)">

            <div class="card-overlay"></div>

            <div class="play-button">
              <img src="Assets/Movies/play-button.png" alt="play-button">
            </div>


            <div class="empty-progress-bar">
              <div class="progress-bar" [style.width.%]="(item.currentTime / (item.movieId.duration * 60)) * 100"></div>
            </div>
          </div>

          <div class="card-content">
            <h3 class="movie-title">{{ item.movieId.title }}</h3>

            <div class="movie-details-bar">
              <div class="info-block main-genre">{{ item.movieId.genre[0] }}</div>
              <div class="info-block type-indicator">{{ item.movieId.type }}</div>
            </div>
          </div>
        </div>
      }
    </section>

    @if (canScrollRight) {
      <button class="nav-btn next" (click)="scroll(1)">›</button>
    }

  </div>
}


<section id="movies-grid">
  <h3 class="title"> Les Films Disponibles : </h3>
  <div class="movies-grid">
    @for (movie of movies; track movie._id) {
      <div class="movie-card">
        <div class="movie-card-background" [style.background-image]="'url(' + movie.cover + ')'" (click)="onClickGoMovie(movie.slug)">

          <div class="card-overlay"></div>

          <div class="play-button">
            <img src="Assets/Movies/play-button.png" alt="play-button">
          </div>
        </div>

        <div class="card-content">
          <h3 class="movie-title">{{ movie.title}}</h3>

          <div class="movie-details-bar">
            <div class="info-block main-genre">{{ movie.genre[0] }}</div>
            <div class="info-block duration">{{ movie.duration }} min</div>
            <div class="info-block type-indicator">{{ movie.type }}</div>
          </div>
        </div>
      </div>
    }
  </div>
</section>
