<div class="actor-container">
  <div class="actor-header">
    <div class="sidebar">
      <img [src]="actor.profile_picture" [alt]="actor.name" class="main-photo">

      <div class="quick-info">
        <h3>Informations personnelles</h3>
        <p><span>Genre</span> {{ actor.gender || 'Non spécifié' }}</p>
        <p><span>Date de naissance</span> {{ actor.birthdate | date:'dd MMMM yyyy' }} </p>
      </div>
    </div>

    <div class="main-content">
      <h1 class="actor-name">{{ actor.name }}</h1>

      <section class="biography">
        <h3>Biographie</h3>
        <p>{{ actor.biography }}</p>
      </section>

      <section class="known-for">
        <h3>Connu pour</h3>
        <div class="movies-row">
          @for (movie of actorMovies.slice(0, 5); track movie._id) {
            <div class="mini-card" (click)="onClickGoMovie(movie.slug)">
              <img [src]="movie.cover" [alt]="movie.title">
              <div class="mini-meta">
                <p class="m-title">{{ movie.title }}</p>
                <span class="year">{{ movie.year }}</span>
              </div>
            </div>
          }
        </div>
      </section>

      <section class="filmography">
        <h3>Filmographie</h3>
        <div class="film-list">
          @for (group of groupedFilmography; track group.year) {
            <div class="year-group">
              <span class="f-year">{{ group.year }}</span>
              <span class="f-dot"></span>

              <div class="group-movies">
                @for (movie of group.movies; track movie._id) {
                  <div class="film-row" (click)="onClickGoMovie(movie.slug)">
                    <div class="f-poster">
                      <img [src]="movie.cover" [alt]="movie.title">
                    </div>
                    <div class="f-info">
                      <span class="f-title">{{ movie.title }}</span>
                      @if (movie.character) {
                        <span class="f-character">... {{ movie.character }}</span>
                      }
                    </div>
                  </div>
                }
              </div>
            </div>
          }
        </div>
      </section>
    </div>
  </div>
</div>
